.navPosition {
  display: flex;
}

.link {
  text-decoration: none;
  color: unset;
}

.activeLink {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.navigation {
  padding: 0.5rem;
  width: 15%;
}
