@use './variables/CONST_COLORS.scss' as var;

.navPosition {
  display: flex;
}

.link {
  text-decoration: none;
  color: unset;
}

.activeLink {
  color: var.$accent;
  font-weight: bold;
  text-decoration: none;
}

.navigation {
  padding: 0.5rem;
  width: 15%;
}
