@use '../variables/CONST_COLORS.scss' as var;

.title {
  text-decoration: underline var.$accent;
}

.formLabel {
  display: block;
}

.formInput {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.submitBtn {
  display: block;
}
