@use '../variables/CONST_COLORS.scss' as var;

.table {
  width: 50%;
  border-collapse: collapse;
  border: 1px solid var.$color-black;

  .thead {
    border-bottom: 1px solid var.$color-black;
  }

  .th_common,
  .td_common {
    padding: 0.25rem 0.5rem;
    border-right: 1px solid var.$color-black;
    &:nth-last-child(1) {
      border-right: none;
    }
  }

  .tr_tbody {
    &:nth-child(2n) {
      background-color: var.$bg-table-row;
    }
  }

  .th_id {
    width: 10%;
  }

  .th_title {
    width: 80%;
  }

  .th_deleteBtn {
    width: 10%;
  }

  .td_id {
    text-align: center;
  }

  .td_btn {
    text-align: center;
  }
}
