@use '../variables/CONST_COLORS.scss' as var;

.title {
  text-decoration: underline var.$accent;
}

.listTable {
  width: 50%;
  border-collapse: collapse;
  border: 1px solid var.$kuro;

  .thead {
    border-bottom: 1px solid var.$kuro;
  }

  .commonTh,
  .commonTd {
    padding: 0.25rem 0.5rem;
    border-right: 1px solid var.$kuro;
    &:nth-last-child(1) {
      border-right: none;
    }
  }

  .tbodyTr {
    &:nth-child(2n) {
      background-color: var.$tableRowBg;
    }
  }

  .idTh {
    width: 10%;
  }

  .titleTh {
    width: 80%;
  }

  .deleteBtnTh {
    width: 10%;
  }

  .idTd {
    text-align: center;
  }

  .deleteBtnTd {
    text-align: center;
  }
}
